/* slider.css */
.slider {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.slider-content {
    position: relative;
    padding: 20px;
    width: 300px;
    margin-top: 100px; 
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}

.payment-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

.payment-button:hover {
    background-color: #218838;
}

.success-message {
    margin-top: 20px;
    font-size: 18px;
    color: green;
    text-align: center;
}