#order-history {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.order h3 {
    margin: 0;
}

.order ul {
    list-style-type: none;
    padding: 0;
}

.order ul li {
    margin: 5px 0;
}